h1.logo {
  padding-left: 37px;
  background-image: image-url("blue-giant.jpg");
  background-size: 32px 32px;
  background-repeat: no-repeat;
}

@keyframes hl-animate {
  0% {background-color: rgba(255, 30, 30, 0.8); }
  100% {background-color: rgba(255, 30, 30, 0); }
}

.bg-blotter {
  background: #333;
  color: #fff;
  .ordered {
     &:before {
       content: "\25B4";
     }
     &.reversed {
       &:before {
         content: "\25BE";
       }
     }
  }
  .bg-number {
    text-align: right;
  }
  th > a {
    cursor: pointer;
  }
  .highlight {
    animation: hl-animate 2s linear;
  }
}
